<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
 <session-factory>
 <property name="connection.connection_string">Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=C:\Data\FinanceDB.mdf;</property>
 <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
 <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
 <property name="show_sql">true</property>
 <property name="format_sql">true</property>
 <property name="adonet.batch_size">10</property>
 <mapping assembly="Repositories" />
 </session-factory>
</hibernate-configuration>