@page "{paymentTypeId}"
@model FinanceWeb.Pages.PaymentTypes.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert alert-danger">Are you sure you want to delete @Model.PaymentType.LongDescription?</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="List" class="btn btn-primary">Cancel</a>
</form>