@page "{paymentTypeId:Guid}"
@model FinanceWeb.Pages.PaymentTypes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.PaymentType.LongDescription</h2>

<form method="post">
    <input type="hidden" asp-for="PaymentType.Id" />
    <div class="form-group">
        <label asp-for="PaymentType.Description"></label>
        <input asp-for="PaymentType.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentType.LongDescription"></label>
        <input asp-for="PaymentType.LongDescription" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
