@page "{paymentTypeId:Guid?}"
@model FinanceWeb.Pages.PaymentTypes.EditModel
@{
    ViewData["Title"] = "Edit";

    var tempval = TempData["Error"];
}

<h2>Editing @Model.PaymentType.LongDescription</h2>

<form method="post">
    <input type="hidden" asp-for="PaymentType.Id" />
    <div class="form-group">
        <label asp-for="PaymentType.Description"></label>
        <input asp-for="PaymentType.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentType.LongDescription"></label>
        <input asp-for="PaymentType.LongDescription" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>


    @if (tempval != null)
    {<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>@TempData["Error"]</strong></div>}
</form>
